{
    "database": {
        "host": "",
        "db_name": "",
        "password": "",
        "user": "",
        "port": ""
    },
    "token": {
        "secret":""
    },
    "oneSignal":{
        "appKey": "",
        "appId": "",
        "url": "https://onesignalcom/api/v1/",
        "userAuth": ""
    }
}